{% extends "blog/layout.html" %}
{% load hosts %}
{% block content %}

  <!-- Blog Post -->
  {% for entry in blog_entries %}
    <div class="mb-4 mt-4">
      <a href="{% host_url 'post_detail' entry.slug  host 'blog' %}">
        <h2 class="">
          <b>{{ entry.title }}</b>
        </h2>
      </a>

      <h5 class="font-weight-light text-sm-left">
        {{ entry.overview }}
      </h5>

      <p class="text-muted">
        {{ entry.date|date }}
      </p>
    </div>
    <hr>
  {% endfor %}

{% endblock %}







