{% extends "blog/layout.html" %}
{% load hosts %}
{% block content %}

        <!-- Title -->
        <h1 class="mt-4 text-primary block-title">{{ object.title }}</h1>

        <!-- Author with Date/Time -->
        <div class="text-muted">
          By {{ object.author }} posted on {{ object.date|date:"D d M, Y" }}
<!--        </p>-->
        </div>
        <hr>

        <!-- Preview Image -->
        {% if object.first_img_ext_url %}
            <figure class="figure">
              <img src={{ object.first_img_ext_url }} class="figure-img img-fluid rounded" alt="Responsive image">
              <figcaption class="figure-caption text-center">Fig: {{ object.first_img_caption }}</figcaption>
            </figure>
        {% elif object.first_img %}
            <figure class="figure">
              <img src={{ object.first_img.url }} class="figure-img img-fluid rounded" alt="Responsive image">
              <figcaption class="figure-caption text-center">Fig: {{ object.first_img_caption }}</figcaption>
            </figure>
        {% endif %}

        <!-- Post Content -->
            {% autoescape off %}
    <!--        <div class="mb-4 mt-4">-->
                {{ object.content }}
    <!--        </div>-->
            {% endautoescape %}

        <hr>
            <div class="text">
                {% if object.previous_post %}
<!--                    <div class="text text-left">-->
                        <a href="{{ object.previous_post.get_absolute_url }}" class="btn btn-link float-left btn-sm" title="{{ object.previous_post.title }}">
                            <strong class="text-primary">Previous Post </strong>
<!--                              <h6>{{ object.previous_post.title }}</h6>-->
                        </a>
<!--                    </div>-->
                {% endif %}

                {% if object.next_post %}
<!--                    <div class="text  text-right">-->
                        <a href="{{ object.next_post.get_absolute_url }}" class="btn btn-link float-right btn-sm" title="{{ object.next_post.title }}">
                            <strong class="text-primary">Next Post </strong>
<!--                              <h6>{{ object.next_post.title }}</h6>-->
                        </a>
<!--                    </div>-->
                {% endif %}
            </div>
<!--        <a href="{% host_url 'blog_home' host 'blog' %}">Back to Home</a>-->

        <br>

        {% include 'blog/comments.html' %}

{% endblock %}







