{% extends "blog/layout.html" %}
{% load hosts %}
{% block content %}

        <!-- Title -->
        <h1 class="mt-4">{{ object.title }}</h1>

        <!-- Author with Date/Time -->
        <div class="text-muted">
          By <a href="#" class="lead">{{ object.author }}</a> posted on {{ object.date|date:"D d M, Y" }}
<!--        </p>-->
        </div>
        <hr>

        <!-- Preview Image -->
        {% if object.first_img_ext_url %}
            <figure class="figure">
              <img src={{ object.first_img_ext_url }} class="figure-img img-fluid rounded" alt="Responsive image">
              <figcaption class="figure-caption text-center">Fig: {{ object.first_img_caption }}</figcaption>
            </figure>
        {% elif object.first_img %}
            <figure class="figure">
              <img src={{ object.first_img.url }} class="figure-img img-fluid rounded" alt="Responsive image">
              <figcaption class="figure-caption text-center">Fig: {{ object.first_img_caption }}</figcaption>
            </figure>
        {% endif %}

        <!-- Post Content -->
            {% autoescape off %}
    <!--        <div class="mb-4 mt-4">-->
                <p >{{ object.content|linebreaks }}</p>
    <!--        </div>-->
            {% endautoescape %}

        <hr>
        <a href="{% host_url 'blog_home' host 'blog' %}">Back to Home</a>

{% endblock %}







